version: "3.9"

networks:
  web:
    external: true
  internal:
    external: false
    driver: bridge

services:

  php:
    restart: always
    build:
      context: ./
      dockerfile: ./dockers/php-fpm-7
    volumes:
      - ./src:/var/www/

  caddy:
    restart: unless-stopped
    build:
      context: ./
      dockerfile: ./dockers/caddy
    environment:
      - ACME_AGREE=true
    ports:
      - "80:80"
      - "443:443"
      - "2019:2019"
    networks:
      - web
      - internal
    volumes:
      - ./src:/var/www/
      # - ./dockers/etc:/etc/caddy

  # openresty:
  #   build:
  #     context: ./
  #     dockerfile: ./dockers/openresty
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #     - "2019:2019"
  #   networks:
  #     - web
  #     - internal
  #   volumes:
  #     - ./src:/var/www


