version: "3.9"

networks:
  web:
    external: true
  internal:
    external: false
    driver: bridge

services:
  php:
    build:
      context: ./dockers
      dockerfile: php-fpm-alpine
      args:
        PHP_VERSION: 7.4.29
        ALPINE_VERSION: 3.15
    volumes:
      - ./src:/var/www/
    networks:
      - internal

  caddy:
    restart: unless-stopped
    build:
      context: ./dockers
      dockerfile: ./caddy
    environment:
      - ACME_AGREE=true
    ports:
      - "80:80"
      - "443:443"
      - "2019:2019"
    networks:
      - web
      - internal
    volumes:
      - ./src:/var/www
      - ./dockers/etc:/etc/caddy

  # openresty:
  #   build:
  #     context: ./
  #     dockerfile: ./dockers/openresty
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #     - "2019:2019"
  #   networks:
  #     - web
  #     - internal
  #   volumes:
  #     - ./src:/var/www
